body{
    background-color:white;
    background-size: 100%; 
}

h2.a{
    font-size: 4em;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

h3.titre2{
    font-size: 40px;
    text-align: center;
    background-color: rgb(255, 202, 132);
    width: 100%;
    margin: auto;
}

h3.titre3{
    font-size: 40px;
    text-align: center;
    background-color: rgb(255, 202, 132);
    width: 100%;
    margin: auto;
}

p.b{
        font-size: 40px;
        text-align: center;
        background-color: rgb(181, 184, 50);
        width: 100%;
        margin: auto;
}

p.c{
    font-size: 40px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
    margin: auto;
}

div.droite img{
    border-radius: 50%; 
    left: 0px;
    top: 0px;
    position: absolute
}

p.div{
    font-size: 35px;
}

li.bouton{
    font-size: 30px;
}

nav.menu-nav{
    text-align: center;
    padding-top: 13px;
}

nav.menu-nav ul li.bouton{
    display: inline-block;
}

nav.menu-nav ul li.bouton{
    list-style-type: none;
}

nav.menu-nav ul li.bouton a{
    color: white;
    background-color: pink;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    border: 3px solid red;
}

nav.menu-nav ul li.bouton:hover a{
    color: white ;
    background-color: blueviolet;
    transition: 1.0s all;
}

div#content div.gauche h1, p{
    margin: 35px;
}

div#content div.droite h1, p{
    margin: 35px;
}

div#content{
    display: flex;
}

div#content div{
    width: 50%;
}

div#content div.gauche{
    background-color: rgb(218, 216, 216);
    opacity: 70%;
}

div#content div.droite{
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: 70%;
    position: relative;
}

footer{
    background-color: blueviolet;
    text-align: center;
    margin: auto;
}

p.p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}

h1.titrer{
    text-align: center;
}

p.copy{
    font-size: 20px;
    margin: auto;
}

body {
    background : url("https://media.discordapp.net/attachments/898267234483449927/901753595375022150/Polish_20211024_104603005.png?width=676&height=676") no-repeat;
    background-position: 50% 70%;
    }

#logo_fixe { position : absolute; left : 10px; top : 6px; }
